.container-fluid{
    background: lightgray;
    max-width: 1440px;
    /* position: relative; */
}

#root{
    background: lightgray;
    /* height: 100vh; */
    min-height: 100%;
    position:relative;
}
#dev-name{
    width: 100%;
    left: 0;
    right: 0;
    /* position:"absolute";
    bottom:"25px"; */
}

.fwb{
    font-weight: bold;
}

.bg-white{
    background: white;
}

.br-16{
    border-radius: 16px;
}

.fs-16{
    font-size: 16px;
}

.clr-blue{
    color: blue;
}

.img-center{
    text-align: center;
    display: block;
    margin: auto;
    padding: 10px;
}

.bullet::before{
    content:"• ";
}

.tc{
    text-align: center;
}

.clr-darkblue{
    color: darkblue;
}


.year-btn{
    height: 30px;
    width: 100px;
    background: lightgreen;
    border-radius: 8px;
    border: unset;
    box-shadow: 1px 1px 1px lightgrey;

}

.year-btn:hover{
    background: green;
}

.fs-18{
    font-size: 18px;
}

.fs-14{
    font-size: 14px;
}

hr{
    border-top: 1px solid lightgrey;
    box-shadow: 1px 1px 1px lightgrey;
}

.card{
    /* display: block;
    position: relative */
}

.mission-img{
    height: 125px;
    width: 125px;
}



@media only screen and (max-width: 768px) {
    .mission-img{
        height: 200px;
        width: 200px;
    }
  }

@media only screen and (min-width: 768px) {
    .year-btn {
      width: 75px;
    }

    .filter{
        position: fixed;
    }
  }

  @media only screen and (min-width: 1440px) {
      .filter{
          max-width: 360px;
      }
  }